.section-features .long-copy{
    margin-bottom: 30px;
}

.section-products {
    padding: 0;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product-feature {
    margin-bottom: 5px;
}