@charset "utf-8";
/* CSS Document */
body
{
	background-color:#9BD6F4;	
	}
.mainbody
{
	font-family:Arial, Helvetica, sans-serif;
	width:1400px;
	height:1800px;
	margin-left:auto;
	margin-right:auto;
	}
.loginbox
{
	padding-top: 100px;
	height: 500px;
	}

.loginbox input[type="submit"],.loginbox input[type="reset"]
{
	border:none;
	outline:none;
	height:30px;
	background:#D55E82;
	color:#fff;
	font-size:16px;
	border-radius:20px;
	}
.loginbox input[type="submit"]:hover,.loginbox input[type="reset"]:hover
{
	cursor:pointer;	
	background:#E4143E;
	transition:0.2s ease;
	}
input[type="text"],input[type="password"]
{
	height:25px;
	width:220px;
	}
